<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164456572213-ja8vul03fq7s10udq20sbksmp4c83u2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164456572213-ja8vul03fq7s10udq20sbksmp4c83u2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDp1G8J2nA9T-TG-i52SWszsj5Z_N1QxoY</string>
	<key>GCM_SENDER_ID</key>
	<string>164456572213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DateCountApp-snapkit</string>
	<key>PROJECT_ID</key>
	<string>swiftdatecount</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftdatecount.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164456572213:ios:a2e398531d7856db18d87c</string>
</dict>
</plist>
